<div>
  <h2 class="text-center" style="color: #707070;">TRENDING VEHICLES</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="card-deck carddeck">

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/tiago.png" alt="tiago">
            <h4 class="card-title">TATA TIAGO</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/gsxs750.png" alt="suzuki gsxs750">
            <h4 class="card-title">Suzuki GSX S750</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/nexon.png" alt="tata nexon">
            <h4 class="card-title">Tata Nexon</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/zs ev.png" alt="MG ZS EV">
            <h4 class="card-title">MG ZS EV</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/mt09.png" alt="Yamaha MT 09">
            <h4 class="card-title">Yamaha MT 09</h4>
          </div>
        </a>

      </div>
    </div>



    <!-- second row code here  -->



    <div class="row">
      <div class="card-deck carddeck">

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/duke200.png" alt="Duke 200">
            <h4 class="card-title">DUKE 200</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/triber.png" alt="Renault Triber">
            <h4 class="card-title">Renault Triber</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/xtreme200r.png" alt="Hero Xtreme 200R">
            <h4 class="card-title">Hero Xtreme 200R</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/nexon_ev.png" alt="Tata Nexon EV">
            <h4 class="card-title">Tata Nexon EV</h4>
          </div>
        </a>

        <a href="">
          <div class="card cardstyle shadow">
            <img class="card-img-top" src="assets/images/ciaz.png" alt="Maruti Ciaz">
            <h4 class="card-title">Maruti Ciaz</h4>
          </div>
        </a>

      </div>

    </div>
    <button type="button" class="btn btnclass">View All</button>
  </div>

  

</div>
